<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.40.0" targetFramework="net452" />
  <package id="AutoFixture.AutoNSubstitute" version="3.40.0" targetFramework="net452" />
  <package id="AutoFixture.Xunit2" version="3.40.0" targetFramework="net452" />
  <package id="EntityFramework" version="6.1.2" targetFramework="net452" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net452" />
  <package id="NSubstitute" version="1.5.0.0" targetFramework="net452" />
  <package id="PD.xUnitAutoFixtureNSubstitute" version="2.0.0" targetFramework="net452" />
  <package id="PDCoreLib" version="4.1.0.2" targetFramework="net452" />
  <package id="Seq.Client.Serilog" version="2.2.1" targetFramework="net452" />
  <package id="Serilog" version="1.5.11" targetFramework="net452" />
  <package id="Serilog.Sinks.Seq" version="1.5.14" targetFramework="net452" />
  <package id="xunit" version="2.1.0" targetFramework="net452" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net452" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net452" />
  <package id="xunit.core" version="2.1.0" targetFramework="net452" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net452" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net452" />
  <package id="xunit.runner.visualstudio" version="2.1.0" targetFramework="net452" />
</packages>