<?xml version="1.0" encoding="utf-8"?>
<!-- Used for build system purposes only -->
<configuration>
  <packageSources>
    <add key="Official Nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="Release" value="http://nuget.pd.local/released/nuget/" />
    <add key="Pre-Release" value="http://nuget.pd.local/prerelease/nuget/" />
  </packageSources>
</configuration>