<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.2" targetFramework="net452" />
  <package id="Hangfire.Core" version="1.5.6" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="5.0.1" targetFramework="net452" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="PDCoreLib" version="4.1.0.2" targetFramework="net452" />
  <package id="Seq.Client.Serilog" version="2.2.1" targetFramework="net452" />
  <package id="Serilog" version="0.1.6" targetFramework="net452" />
  <package id="Serilog.Sinks.Seq" version="1.4.4" targetFramework="net452" />
</packages>